page-home {
    body{
        background-color: rgba(242,237,240,0);
    }
    ion-navbar img {
        
        height: auto; 
        width: 100%;
        justify-content: center;
    }
    ion-navbar {
        flex: auto;

        height: 4rem;
    }
}
